<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, maxlength:200, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-lg btn-primary" %>
  <div class="countdown"></div>
<% end %>
